
[client]
port            = 34381
socket          = /tmp/mysql/mysql.sock
[mysqld]
port            = 34381
socket          = /tmp/mysql/mysql.sock
skip-external-locking
#skip-innodb
basedir = {{ pillar['ins_dir'] }}/mysql
datadir = {{ pillar['mysql_data'] }}/data
key_buffer_size = 256M
max_allowed_packet = 1024M
table_open_cache = 256
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size= 16M
#thread_concurrency = 8
tmp_table_size = 16M
max_connections = 500
wait_timeout = 300
interactive_timeout = 300
max_connect_errors = 9
long_query_time = 1
log-bin={{ pillar['mysql_data'] }}/logs/mysql-bin
expire_logs_days = 5
binlog_format=mixed
#server-id       = 1
[mysqldump]
quick
max_allowed_packet = 16M
[mysql]
no-auto-rehash
[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M
[mysqlhotcopy]
interactive-timeout
[mysqld]
#log
log-error = {{ pillar['mysql_data'] }}/logs/error.log
#log = {{ pillar['mysql_data'] }}/logs/mysql.log
long_query_time = 2
slow-query-log-file= {{ pillar['mysql_data'] }}/logs/slowquery.log
